@font-face {
    font-family: 'PokemonSolid';
    src: url('./assets/fonts/PokemonSolid.ttf') format('truetype');
}


.font-page-3 {
    font-family: 'PokemonSolid', sans-serif !important;
    color: #F0BBC8;
    text-shadow: 2px 2px 4px #6867A6;
}

/* Votre CSS existant ici */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 50px;
}

.App-link {
  color: #61dafb;
}

.bt-quizz {
  background-color: #007bff;
  /* Bleu */
  color: #ffffff;
  /* Blanc */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
}

.bt-quizz:hover {
  background-color: #0056b3;
  /* Bleu foncé au survol */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.pikachu-wrapper {
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.pikachu-button img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-size: cover;
  transition: all 0.3s ease;
}


.bt-next-q {
  background-color: #28a745;
  /* Vert */
  color: #ffffff;
  /* Blanc */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.bt-next-q:hover {
  background-color: #218838;
  /* Vert foncé au survol */
}

.img-shake:hover {
  animation: shake 0.5s;
  /* adjust duration as needed */
  animation-iteration-count: infinite;
}

.bt-restart {
  background-color: #dc3545;
  /* Rouge */
  color: #ffffff;
  /* Blanc */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

.bt-restart:hover {
  background-color: #c82333;
  /* Rouge foncé au survol */
}

.game {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  margin-bottom: 10px;
  /* Réduire l'espace en bas du header */
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* 6 colonnes fixes */
  gap: 10px;
  margin-top: 10px;
  /* Réduire l'espace en haut des cartes */
}

.card {
  width: 150px;
  height: 150px;
  perspective: 1000px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  /* Pour voir les bordures des cartes */
}

.card img {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.start-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #21a1f1;
}

.victory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.gif-container {
  width: 100%;
  max-width: 500px;
  /* Largeur maximale pour le GIF */
  position: relative;
  padding-bottom: 56.25%;
  /* Ratio 16:9 */
  height: 0;
  margin: 20px auto;
  /* Centrer le GIF */
}

.gif-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pokemon-jeu-1 {
  max-width: 400px;
  width: 173px;
  height: auto;
  display: block;
  margin: 0 auto;
}